<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-store" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block custom_meta %}{% endblock %}
    {% block custom_script %}{% endblock %}
    <title>AID SERVER</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
<body>

<div class="container">
    <video playsinline autoplay muted id="bgvid" loop>
        <source src="{{ url_for('static', filename='matrix.mp4') }}" type="video/mp4" />
        <source src="{{ url_for('static', filename='matrix.ogv') }}" type="video/ogg" />
        <source src="{{ url_for('static', filename='matrix.webm') }}" type="video/webm" />
    </video>
    <div class="text"><h2>Welcome To AID server </h2></div>
</div>
{% block content %}
{% endblock %}
</body>
</html>