<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>AID SERVER</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
<body>
<div class="container">
    <video playsinline autoplay muted loop id="bgvid">
        <source src="{{ url_for('static', filename='matrix.mp4') }}" type="video/mp4" />
        <source src="{{ url_for('static', filename='matrix.ogv') }}" type="video/ogg" />
        <source src="{{ url_for('static', filename='matrix.webm') }}" type="video/webm" />
    </video>
    <div class="text"><h2>Welcome To AID server </h2></div>
</div>
<div id='outputBox'>
    <section id='outputArea'>
    </section>
    <section id='commandSendingArea'>
        <div id='chatEnabled'>
            <form id='newCommand' name='newCommand' class='newCommand' action="" onsubmit="return false">
                <section class="left">
                    <textarea name='newCommandContent' id='newCommandContent'
                    placeholder="Enter your command here"></textarea>
                </section>
                <section class='right'>
                    <input id='send' type="submit" name="newCommandSend" value="Send"/>
                </section>
</div>
</body>
</html>