{% extends 'layouts/themes.html' %}
{% block content %}
<div id="outputBox">
    <section id="outputArea">
            {% if answer %}
                <div id="data_output"></div>
                <h3 style="color:#ADFF2F"># {{ cmd }}: </h3><h3 style="text-align: right; color:#ADFF2F;">{{ r_time }}</h3>
                {% for word in answer %}
                    <h3><span id="message-output">{{ word }} </span></h3>
                {% endfor %}
            {% endif %}
    </section>
    <section id="commandSendingArea">
        <div id="chatEnabled">
            <form method="POST" id="newCommand" name="newCommand" class="newCommand">
                <section class="left">
                    {{ form.newCommandContent(id="newCommandContent", placeholder="Enter your command here") }}
                    {% for error in form.newCommandContent.erros %}
                        {{ error }}
                    {% endfor %}
                </section>
                <section class="right">
                    {{ form.newCommandSend(style="background-color:#000000; color:#ADFF2F; border: #000000;") }}
                    {{ form.hidden_tag() }}
                </section>
            </form>
        </div>
    </section>
</div>
{% endblock %}